# Deep Learning Framework
torch
torchvision
torchaudio
torchao>=0.16.0

# HuggingFace Ecosystem
transformers
datasets<=2.19.2
accelerate
peft
evaluate

# CV & Image Processing
Pillow
opencv-python

# Utilities
tqdm
numpy
pandas
matplotlib
jupyterlab

# NLP Metrics
rouge_score
sacrebleu
jiwer
pycocoevalcap